@import "rc-tooltip/assets/bootstrap_white.css";

.slider-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  grid-auto-rows: min-content;
  width: 60px;
  height: 200px
}

.title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 5px;
  text-align: center;
  height: fit-content;
}

.slider {
  border-radius: 5px;
  margin: 10px 30px;
  grid-row: 2 / 3;
  grid-column: 1/2;
  height: 180px;
}
