.main {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.sliders-container {
  flex: 30%;
  background-color: aqua;
  width: 300px;
  height: 700px;
  margin: 30;
  border: 2px;
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row; */
}


.slider {
  width: 100px;
  height: 250px;
  margin: 30px;
}

.drawing-branch {
  flex: 70%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.header {
  height: 15px;
}
