.header {
  height: 15px;
}

.main {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  padding-left: 15px;
}

.drawing-branch {
  flex: 70%;  
}

.sliders-container {
  flex: 30%;
  height: auto;
  display: grid;
  /* TODO line below is not flexible enough */
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

/* TODO 1040px is FRAGILE! how to calc based on item size!? */
@media screen and (max-width: 1040px) {
  .main {
    flex-direction: column;
    margin: auto;
    padding-left: 0px;
  }
  .sliders-container {
    margin: auto;
  }
  .drawing-branch {
    padding-left: 0px;
  }
}
