.header {
  height: 15px;
}

.main {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
}

.drawing-branch {
  flex: 70%;
}

.sliders-container {
  flex: 30%;
  height: auto;
  width: auto;
  border: 5px;
  display: grid;
  /* TODO line below is not flexible enough */
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}
