.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: black;
  font-size: 1em;
}

.Footer img {
  height: 1.8em;
  vertical-align: middle;
  padding: 6px 3px 6px 6px;
}

.footer-content{
  margin: auto; 
  width: fit-content;
}